html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1E1E1E;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

body .monitor {
  flex:1;
  background-color: #242424;
  margin: 10px;
  box-shadow: 0px 4px 5px rgb(22, 22, 22);
  position: relative;
  padding: 0px 40px;
}

.monitor.ending h1 + div{
  color: #FF0000;
}

div > h1 + div {
  font-size: clamp(1vh, 15vw, 20vh);
  font-weight: bold;
  text-align: center;
  margin: 0;
  font-family: 'led';
  color:white;
}

#time {
  text-shadow: 0px 3px rgb(102 0 0);
}

#currentTime {
  text-shadow: 0px 3px rgb(0 102 0);
}


div > h1 {
  font-size: 1.5vw;
  text-align: center;
  font-weight: bolder;
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

@font-face {
  font-family: led;
  src: url(../src/assets//fonts/DSEG7Modern-Bold.ttf);
  font-weight: bold;
}

#loop {
  position: absolute;
  top: 0px;
  right: 10px;
  margin: 0;
  color: #ff0000;
  text-align: center;
  font-size: 1.5em;
}

.blink {
  animation: blink-animation 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
@keyframes blink-animation {
50% {
    opacity: 0;
  }
}

.blinkred {
  animation: blink-red 1s linear infinite;
  color: red;
}
@keyframes blink-red {
50% {
    opacity: 0;
  }
}

.columns {
  display: flex;
  flex-direction: row;
}

.columns div > h1 + div {
  font-size: clamp(1vh, 8vw, 20vh);
}

.columns div {
  padding-bottom: 1rem;
}